@charset "UTF-8";

.back{
	background: url("../images/idResult.jpg");
	background-repeat: no-repeat;
  position: fixed;
  margin:0 auto;
  width:100%;
  height: 100%;
}
.idResultbody{
	position:relative;
	padding-left: 50%;
	padding-top:300px;
}
.idResult{
	width: 100%;
	height: 200px;
	margin-bottom: 200px;
}
.idResult > h2{
	width: 250px;
	height: 50px;
	font-size: 30px;
}
.idResult > h3{
	width: 200px;
	height: 50px;
	font-size: 20px;
}
.idResult > button{
	width: 150px;
	height: 40px;
	margin-top:20px;
	background-color:white;
}
.idResult > button:hover{
	background-color:black;
	color:white; 
}
footer{
	position: absolute;
}