@charset "UTF-8";

.myMain {
	text-align: center;
	padding-top: 150px;
	color: #373737;
	width: 100%;
}

.myInfo {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #373737;
	width: 1300px;
}

.myMenu {
	text-align: center;
	color: #373737;
}

.mypage_menu {
	margin-bottom: 40px;
	border: 1px solid #ddd;
	overflow: hidden;
	width: 1255px;
	margin-left: auto;
	margin-right: auto;
}

.myMenu ul {
	display: block;
}

.myMenu ul li {
	margin-left: -1px;
	float: left;
	width: 180px;
	height: 48px;
	border-left: 1px solid #ddd;
}

.myMenu li a {
	display: block;
	font-size: 14px;
	color: #666;
	line-height: 48px;
	text-align: center;
	text-decoraton: none;
}

.myMenu li a:hover {
	text-shadow: -.25px -.25px 0 black, .25px .25px black;
}

.baseBox li{
	box-sizing: border-box;
}

.orderInfo {
	padding-top: 50px;
	padding-left: 280px;
	position: relative;
	width: 1300px;
	height: 15px;
	padding-bottom: 35px;
}

div .lstOrderList {
	color: #373737;
	width: 1220px;
	display: inline-block;
}

div .lstOrderListAll {
	display: inline-block;
	float: right;
	font-size: 13px;
	margin-right: 0px;
}

.myOrder {
	text-align: center;
	color: #373737;
}

.myOrder2 {
	text-align: center;
	color: #373737;
	position: absolute;
	margin-left: 15%;
	margin-right: 15%;
}

.myOrder table {
	border-top: 2px solid #D9DBDC;
	border-bottom: 1px solid #D9DBDC;
	border-collapse: collapse;
}

.myOrder table th {
	border-bottom: 1px solid #D9DBDC;
	background-color: #F8FDFE;
	padding-top: 5px;
	height: 40px;
	font-weight: normal;
}

.myOrder table td {
	border-bottom: 1px solid #D9DBDC;
	padding-top: 5px;
	height: 40px;
}

.tb-center {
	text-align: center;
}

.tb-left {
	text-align: left;
}

.wishHead {
	display: inline-block;
	padding-top: 50px;
	padding-left: 90px;
	width: 600px;
	height: 15px;
	padding-bottom: 35px;
}

.wishHead h4 {
	display: inline-block;
	width: 500px;
	padding-right: 40px;
}

.wishHead a {
	display: inline-block;
	font-size: 13px;
	margin-right: 0px;
}

.myWish {
	width: 600px;
	padding-left: 90px;
	font-size: 12px;
	text-align: left;
}

.cartHead {
	display: inline-block;
	padding-top: 50px;
	height: 15px;
	padding-bottom: 35px;
}

.cartHead h4 {
	display: inline-block;
	width: 500px;
	color: #373737;
	padding-right: 40px;
}

.cartHead a {
	display: inline-block;
	font-size: 13px;
	margin-right: 0px;
}

.myCart {
	width: 600px;
	font-size: 12px;
	text-align: left;
}

.stock {
	display: flex;
	width: 1300px;
}

.stock1 {
	flex: 1;
	margin-left: 190px;;
}

.stock2 {
	flex: 2;
	margin-left: 80px;;
}

.myWish table {
	border-top: 2px solid #D9DBDC;
	border-bottom: 1px solid #D9DBDC;
	border-collapse: collapse;
	width: 600px;
}

.myWish table th {
	border-bottom: 1px solid #D9DBDC;
	background-color: #F8FDFE;
	padding-top: 5px;
	height: 40px;
	font-weight: normal;
}

.myWish table td {
	border-bottom: 1px solid #D9DBDC;
	padding-top: 5px;
	height: 40px;
}

.myCart table {
	border-top: 2px solid #D9DBDC;
	border-bottom: 1px solid #D9DBDC;
	border-collapse: collapse;
	width: 600px;
}

.myCart table th {
	border-bottom: 1px solid #D9DBDC;
	background-color: #F8FDFE;
	padding-top: 5px;
	height: 40px;
	font-weight: normal;
}

.myCart table td {
	border-bottom: 1px solid #D9DBDC;
	padding-top: 5px;
	height: 40px;
}

.p-bold {
	font-weight: bold;
}

.CSSbuttonGray {
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.orderTitle {
	font-size: 40px;
	font-weight: bold;
}

.OrdList {
	float: left;
	font-size: 15px;
	font-weight: bold
}

#contentWrap {
	padding-top: 3px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: 0.75em '맑은 고딕';
	color: #333;
}

h2 {
	width: 100%;
	height: 200px;
	text-align: center;
	font-size: 40px;
	line-height: 200px;
}

.shopping_cart {
	width: 75%;
	margin: 0 auto;
}

.shopping_cart, .shopping_cart th, .shopping_cart td {
	border: 1px solid #e9e9e9;
	border-width: 1px 0;
	border-collapse: collapse;
	text-align: center;
	padding: 8px;
}

.shopping_cart th {
	background-color: #fcfcfc;
	font-size: 1.2em;
	color: #666;
	border-width: 2px 0;
}

.shopping_cart td {
	/* border-style: dotted; */
	border-bottom: 1px solid gainsboro;
}

.shopping_cart tr:hover td {
	background-color: #eee;
	cursor: pointer;
}

.shopping_cart img {
	width: 70px;
	height: 70px;
}

.shopping_cart img:hover {
	opacity: 0.5;
}

/* .shopping_cart>tbody>tr>td:nth-child(3) {
            text-align: justify;
        } */
.shopping_cart>tbody>tr>td:nth-child(6) {
	font-weight: bold;
}

.shopping_cart p {
	width: 100px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	color: #333;
	border: 2px solid #ccc;
}

.shopping_cart p:hover {
	border-color: #888;
}

.shopping_cart span {
	display: block;
	height: 15px;
	font-size: 20px;
	font-weight: bold;
}

.cartCountChange {
	font-size: 0;
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

.cartOption {
	padding-bottom: 5px;
	color: #999;
}

.cartCountChangeEdge {
	font-size: 0;
	text-align: center;
}

.btnDw {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 33px;
	height: 32px;
	font-size: 12px;
	color: rgb(102, 102, 102);
	line-height: 30px;
	border: 1px solid rgb(221, 221, 221);
	text-decoration: none;
}

.txtSpin {
	border: 1px solid #eee;
	outline: 0;
	margin-top: 1px;
	padding: 0;
	width: 33px;
	height: 32px;
	text-align: center;
	border-right: none;
	border-left: none;
	border-image: initial;
	border-top: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
}

.btnUp {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 33px;
	height: 32px;
	font-size: 12px;
	color: rgb(102, 102, 102);
	line-height: 30px;
	text-align: center;
	border: 1px solid rgb(221, 221, 221);
	text-decoration: none;
}

.cartCountBtn {
	margin: 0;
	line-height: 99.9%;
	padding: 0;
	margin-left: 3px;
	display: inline-block;
	padding: 8px 12px;
	font-size: 12px;
	color: #fff;
	border: 1px solid #333;
	background: #333;
	transition: all 0.3s ease;
	text-decoration: none;
	box-sizing: border-box;
}

.cartCountBtn:hover {
	color: #333;
	border: 1px solid #333;
	background: #fff;
	cursor: hand;
}

/* 결제창 하단 부분  */
.cartFootLine {
	border: 1px solid gray;
	border-width: 1px 0;
	border-top: none;
}

.cartFootline2 {
	background-color: #fcfcfc;
}

.cartFoot {
	border-top: none;
	text-align: right;
	border-bottom: none;
}

.gdsDeleteBtn {
	display: inline-block;
	padding: 8px 12px;
	font-size: 12px;
	color: #fff;
	border: 1px solid #909090;
	background: #a1a1a1;
	text-decoration: none;
	transition: all 0.3s ease;
}

.gdsDeleteBtn:hover {
	color: #333;
	border: 1px solid #333;
	background: #fff;
	cursor: hand;
}

.shopping_cart_foot {
	width: 75%;
	margin: 0 auto;
}

.tbl_order {
	padding-left: 12.5%;
	padding-right: 12.5%;
	padding-top: 1%;
}

.tbl_orderTbl {
	width: 100%;
	border-top: 1px solid gray;
}

.tbl_orderTbl tbody th {
	text-align: center;
	border-right: 1px solid #eee;
	color: #666;
}

.tbl_order th, .tbl_orderTbl td {
	padding: 15px;
	border-bottom: 1px solid #e9e9e9;
	font-size: 12px;
	font-weight: normal;
}

.tbl_shipping {
	padding-left: 12.5%;
	padding-right: 12.5%;
	padding-top: 1%;
}

.tbl-shippingTbl {
	width: 100%;
	border-top: 1px solid gray;
}

.tbl-shippingTbl tbody th {
	text-align: center;
	border-right: 1px solid #eee;
	color: #666;
}

.tbl_shipping th, .tbl-shippingTbl td {
	padding: 15px;
	border-bottom: 1px solid #e9e9e9;
	font-size: 12px;
	font-weight: normal;
}

.samechk {
	float: right;
}

.subtitle1 {
	float: left;
	font-size: 15px;
	padding-top: 5%;
	font-weight: bold
}

.subtitle2 {
	float: left;
	padding-top: 10%;
}

.subtitle2_inline {
	display: inline;
}

.padding_shipping {
	padding-top: 3%;
}

.padding_payment {
	padding-top: 3%;
}

.payment {
	width: 75%;
	margin: 0 auto;
}

.payment, .payment th, .payment td {
	border: 1px solid #ccc;
	border-width: 1px 0;
	border-collapse: collapse;
	text-align: center;
	padding: 8px;
}

.payment th {
	background-color: #f3f3f3;
	font-size: 1.2em;
	color: #666;
	border-width: 2px 0;
}

.payment td {
	/* border-style: dotted; */
	border-bottom: 1px solid gainsboro;
	background-color: #f8f8f8;
	font-size: 16px;
}

.payment td span {
	font-size: 26px;
	font-weight: normal;
	font-style: normal;
}

.cp {
	width: 100%;
}

.plus {
	position: absolute;
	right: 98%;
	top: 10%
}

.minus {
	position: absolute;
	right: 98%;
	top:8%
}

.base {
	position: relative;
	z-index: 1;
}

.pay-method li {
	margin: 10px 0;
	padding-left: 6px;
}

.tbl_endPriceTbl {
	width: 75%;
	margin: 0 auto;
	border-top: 1px solid gray;
	border-collapse: collapse;
}

.tbl_endPriceTbl tbody th {
	text-align: center;
	border-right: 1px solid #eee;
	color: #666;
}

.tbl_endPrice th, .tbl_endPriceTbl td {
	padding: 15px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	font-weight: normal;
}

.base span {
	font-size: 20px;
	font-weight: normal;
}

.endPrice {
	background-color: #f8f8f8;
	font-size: 1.2em;
	color: #666;
}

.endPrice .endPrice th .endPrice td {
	border-width: 1px 0;
	text-align: center;
	padding: 8px;
}

#op_total_price {
	font-style: normal;
	color: #f00;
	font-size: 26px;
	font-weight: 700;
}

.redfont {
	color: red;
	font-weight: 700;
	font-size: 26px;
	font-style: normal;
}
.endPrice em{
font-style: normal;	
}
.reserve-msg{
	font-style: normal;
}

.OrderBtn:hover {
	color: #333;
	border: 1px solid #333;
	background: #fff;
	cursor: hand;
}

.CancelBtn:hover {
	color: #333;
	border: 1px solid #333;
	background: #fff;
	cursor: hand;
}

.btnOrderCtr {
	margin-top: 20px;
	text-align: center;
}

.OrderBtn {
	display: inline-block;
	width: 368px;
	height: 42px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 42px;
	border: 1px solid #333;
	background: #333;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.CancelBtn {
	display: inline-block;
	width: 368px;
	height: 42px;
	font-size: 14px;
	color: #333;
	font-weight: bold;
	text-align: center;
	line-height: 42px;
	border: 1px solid #ddd;
	background: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.cpBtn {
	display: inline-block;
	padding: 8px 12px;
	font-size: 12px;
	color: #fff;
	border: 1px solid #909090;
	background: #a1a1a1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.ReservesBtn {
	display: inline-block;
	height: 32px;
	line-height: 31px;
	width: 74px;
	text-align: center;
	font-size: 12px;
	padding: 0 10px;
	border: 1px solid #909090;
	background: #a1a1a1;
	color: #fff;
}

#couponnum, .tbl_shipping input, .tbl_order input {
	width: 200px;
	height: 32px;
	line-height: 32px;
	padding: 0 5px;
	border: 1px solid #ddd;
}

.tbl_shipping input[type="radio"] {
	width: 15px;
	height: 15px;
}

.tbl_orderTbl input[type="radio"] {
	width: 15px;
	height: 15px;
}

.button {
	width: 73px;
	background-color: #333;
	border: 1px solid #333;
	color: #fff;
	padding: 6px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: white;
	color: black;
	border: 1px solid #333;
	
}
#cpSelect{
	height: 32px;
}
